<!DOCTYPE html>
<html>
<head>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
>
    <title>View Bookings - StädaFint AB</title>
</head>
<body>
    <h1>Bookings:</h1>
    <br>
    <input type="text" id="customer_name" name="customer_name" required><br>
    <input type="text" id="customer_name" name="customer_name" required><br>
    <input type="text" id="customer_name" name="customer_name" required><br>
    <input type="text" id="customer_name" name="customer_name" required><br>
    <ul>
        {% for booking in bookings %}
            <li>{{ booking.customer_name }} - {{ booking.service }} on {{ booking.date }}</li>
        {% endfor %}
    </ul>
    <a href="/">Back to Home</a>
</body>
</html>
