{% extends 'shared_layout.html' %}
    {% block title%} {%endblock%}
{% block page_block %}



<p class="title">We have different services</p>
<br>
<br>
<p class="subtitle"></p>
<div class="content">
    <h3></h3>
    blah blah blah balaalalalalalllllllllllllllllllllllllaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaakkkkkk
    kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
    kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
    kkkkkkkkkkkkkkkkkkkkkkkkkkkkk
    kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
    kkkkkkkkkkkkkkkkkkkkkkkkkk
    kkkkkkkkk
    kkkkk

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{%endblock%}